.App {
   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index:1;
  top:0;
  right:0;
  left:0;
}
.container{
  margin-top:95px;
}
label{
  margin:0rem auto;
}
.colorName{
  color: #15DEA5;
}
.colorName > img{
  background-color: #FFF;
  border-radius: 30px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
